<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Blog Posts</title>
    {% load static %}
    <link rel="icon" href="{% static 'img/icons8-robotic-arm.gif' %}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="flex flex-col min-h-screen bg-gray-200 font-sans antialiased">
    <!-- Navigation Bar area -->
    <nav class="bg-blue-600 p-4 text-white flex justify-between">
        <div>
            <h1 class="text-2xl font-bold">VAB Blog Generator</h1>
        </div>
        <div>
            <a class="text-white hover:underline" href="{% url 'index' %}">Home |</a>
            <a class="text-white hover:underline" href="{% url 'saved_blog' %}">Saved Blog |</a>
            <a class="text-white hover:underline" href="{% url 'logout' %}">Logout</a>
        </div>
    </nav>
    <!-- Blog Full Content Section Here -->
    <div class="flex-grow container mx-auto mt-10 px4 sm:px-0">
        <div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-md">
            
            <section>
                <h2 class="text-xl mb-4 font-semibold">Blog Post Details</h2>
                <div class="border border-gray-300 p-4 rounded-lg">
                    <h3 class="text-lg font-semibold">{{user_blog.youtube_title}}</h3>
		    <p id="text" class="text-gray-700">{{user_blog.content|safe}}</p>
                    <hr class="my-4 border-gray-300">
                    <h4 class="text-lg font-semibold">Youtube Title</h4>
                    <p class="text-gray-700">{{user_blog.youtube_title}}</p>
                    <h4 class="text-lg font-semibold mt-4">YouTube Link</h4>
                    <a href="{{user_blog.youtube_link}}" class="text-blue-600 hover:underline">{{user_blog.youtube_link}}</a>
                </div>
            </section>
        </div>
    </div>

    <footer class="text-center p-1 text-black mt-6">
        <p>&copy; 2023 Copyright: All Rights Reserved | Developed by <NAME><b>Sulaimon | YemiDev</b></NAME></p>
        <p>Portfolio Project (2) | ALX Full-Stack Software Engineering</p>
    </footer>
    <!-- JavaScript Instructions Here -->
    <script>

    </script>
</body>
</html>
