<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Blog Posts</title>
    <link rel="icon" href="favicon.png">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="flex flex-col min-h-screen bg-gray-200 font-sans antialiased">
    <!-- Navigation Bar area -->
    <nav class="bg-blue-600 p-4 text-white flex justify-between">
        <div>
            <h1 class="text-2xl font-bold">VAB Blog Generator</h1>
        </div>
        <div>
            <a class="text-white hover:underline" href="{% url 'index' %}">Home |</a>
            <a class="text-white hover:underline" href="{% url 'logout' %}">Logout</a>
        </div>
    </nav>

    <!-- Container For Blog Posts -->
    <div class="flex-grow container mx-auto mt-10 px4 sm:px-0">
        <div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-md">
            <!-- Blog Post Section -->
            <section>
                <h2 class="text-xl mb-4 font-semibold">Saved Blog Posts</h2>
                <div class="space-y-4">
                    <!-- Use message error variable in this section to instruct user that they dont have an blog post generated yet if no blog is available -->
                    <!-- [Reversed] is used to display the looped indices from the max index to the 0th index [5 - 0] instead of 0 - 5 -->
                    <!-- This is done to make the loop show the lated blog posts -->
                    {% for article in user_blog reversed %}
                    <a href="/blog_content/{{article.id}}">
                        <div class="border border-gray-300 p-4 rounded-lg shadow-md transition-transform transform hover:scale-105 flex flex-col">
                            <h3 class="text-lg font-semibold">{{article.youtube_title}}</h3>
                            <p>{{article.content|truncatechars:100}}</p>
                        </div>
                    </a>
                    {% endfor %}
                </div>
                <!-- The Rest of the blog posts -->
            </section>
        </div>
    </div>
    <footer class="text-center p-1 text-black mt-6">
        <p>&copy; 2023 Copyright: All Rights Reserved | Developed by <NAME><b>Sulaimon | YemiDev</b></NAME></p>
        <p>Portfolio Project (2) | ALX Full-Stack Software Engineering</p>
    </footer>
    <!-- JavaScript Instructions Here -->
    <script>

    </script>
</body>
</html>